/*
 * Styles for post page
 */

.post-area article {
    padding: 1em 2em;
    margin: 2em 0;
  }
.card.post .card-image {
    height: 15em;
}
.card.post .card-image img {
    height: 100%;
    object-fit: cover;
}

  
/* @media screen and (min-width:993px){
    
} */

@media only screen and (max-width: 600px) {
    .card.post .card-image {
        height: 12em;
    }
}