/*
 * Styles for common elements
*/

body {
  background-color: #f4f8fb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.header {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: absolute;
  /* min-eight: 40%; */
  /* position: relative; */
  display: block;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.header .header-background {
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* position: absolute;
  attachment: scroll;
  display: border-box;
  width: 100%; */
}

.header-content {
  /* position: absolute; */
  top: 40%;
  width: 100%;
  height: 10em;
  margin-top: 5em;
  margin-bottom: 3em;
}

.header-content .blog-title {
  text-align: center;
  color: white;
}

.header-content .blog-title-line-1 {
  font-size: 3em;
}
.header-content .blog-title-line-2 {
  font-size: 1.2em;
}
/* .header-nav {
  z-index: 10;
  bottom: 0;
  position: absolute;
  width: 100%;
} */

nav {
  position: fixed;
  top: 0px;
  box-shadow: none;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

#nav.nav-hide {
  top: -70px;
}

#nav.nav-transparent {
  background: transparent; 
}

#nav.nav-black {
  background-color: #263238;
}

.nav-items li {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 1em;
  margin-left: 1em;
}

.nav-items li a {
  color: white;
}



main {
  position: relative;
  /* top: 40%; */
  flex: 1 0 auto;
}


.card-post-time {
  line-height: 2em;
  color: #37474f;
}

/* .card-content {
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
} */

.author {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}

.author .author-img {
  height: 3em;
  width: 3em;
  padding: 0;
  margin: 0;
  /* display: inline-block; */
  float: left;
}

.author .author-img img {
  width:3em;
  height:3em;
  border-radius: 1.5em;
  /* margin: 0.5em; */

}

.author .author-info {
  height: 3em;
  float: left;
  /* display: inline-block; */
  margin-left: 1em;
  padding: 0;
  box-sizing: content-box;
}

.author .author-info div {
  height: 1.5em;
  margin: 0;
}

@media screen and (min-width:993px){
  .header {
    height: 520px;
  }
  .header-nav {
    bottom: 100px;
  }

  .header .header-content {
    margin-top: -2em;
  }

  .header .header-content .blog-title-line-1 {
    font-size: 4.3em;
  }
  .header .header-content .blog-title-line-2 {
    font-size: 1.5em;
  }

  .header-content {
    /* position: absolute; */
    margin-top: 11em;
    margin-bottom: 5em;
  }

}


.pin-to-view.pinned {
  position: fixed;
  top: 5em;
}

.corner-btn-container {
  position: fixed;
  right: 15px;
  bottom: 100px;
}
.corner-btn {
  width: 2.4em;
  height: 2.4em;
  /* line-height: 2.4em; */
  font-size: 1.5em;
  padding: 0.3em;
  text-align: center;
  /* vertical-align: middle; */
  background-color: #212121;
  color: white;
  /* float: right; */
  margin: 0.5em 0;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.corner-btn i {
  font-size: 1.8em;
}

.corner-btn.corner-btn-hide {
  opacity: 0;
  visibility: hidden;
}

.toc-corner-btn {
  display: none;
}

.toc-norm-corner-btn {
  display: none;
}

.header-content-placeholder {
  height: 10em;
}


@media only screen and (max-width: 600px) {
  .header-content-placeholder {
    height: 8em;
  }
}

