<footer class="page-footer blue-grey darken-4">
    <div class="footer-copyright">
        <div class="container">
            <p>&copy; <%- date(Date.now(), 'YYYY') %> Li Tingjun</p>
        </div>
    </div>
</footer>