<nav id="nav" class="nav-transparent">
    <div class="nav-wrapper">
        <div class="container">
        <a href="#" class="brand-logo ">LTJ's BLOG</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">HOME</a></li>
            <li><a href="#">ARCHIVE</a></li>
            <li><a href="#">LAB</a></li>
            <li><a href="#">ABOUT</a></li>
        </ul>
        <ul id="nav-menu" class="dropdown-content">
            <li><a href="/">HOME</a></li>
            <li><a href="#">ARCHIVE</a></li>
            <li><a href="#">LAB</a></li>
            <li><a href="#">ABOUT</a></li>
        </ul>
        <ul class="right hide-on-large-only">
            <li><a href="#!" class="dropdown-button" data-activates='nav-menu'><i class="material-icons">menu</i></a></li>
        </ul>
        </div>
    </div>
</nav>